<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cab Fare Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Cab Fare Predictor</h1>

    <form method="post" action="/predict">
        <input type="datetime-local" name="pickup_datetime" placeholder="Pickup Datetime">
        <input name="pickup_longitude" placeholder="Pickup Longitude"  >
        <input name="pickup_latitude" placeholder="Pickup Latitude"  >
        <input name="dropoff_longitude" placeholder="Dropoff Longitude"  >
        <input name="dropoff_latitude" placeholder="Dropoff Latitude"  >
        <input name="passenger_count" placeholder="Passenger Count"  >
        <button type="submit">Predict Fare</button>
    </form>

    {% if prediction %}
        <h2>Predicted Fare: ${{ prediction }}</h2>
    {% endif %}
 
</body>
</html>
